{% extends 'layout.html' %}

{% block contenido %}
      <h1 style="color: darkcyan; font-family: fantasy;">{{titulo}}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Descripcion</th>
            <th scope="col">Codigo</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Nombre del vendedor</th>
            <th scope="col">Metodo de pago</th>
            <th scope="col">Nombre comprador</th>
            <th scope="col">Documento de identidad</th>
            <th scope="col">Telefono</th>
          </tr>
        </thead>
        <tbody>
          {% for factura in facturas %}
          <tr>
            <th scope="row">{{factura.producto.descripcion}}</th>
            <td>{{factura.codigo}}</td>
            <td>{{factura.precio_unitario}}</td>           
            <td>{{factura.nombre_vendedor}}</td>
            <td>{{factura.metodo_pago}}</td>
            <td>{{factura.nombre_comprador}}</td>
            <td>{{factura.documento_identidad}}</td>
            <td>{{factura.telefono}}</td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
{% endblock contenido %}